body {
  background: linear-gradient(to right, #acb6e5, #74ebd5);
}

.managerCard {
  background-color: white;
  padding: 20px;
}
.modal-body .group-input .input-1 i {
  display: inline;
}
#check_type {
  height: 38px;
  cursor: pointer;
}
#style_select {
  display: flex;
}
#check_CV {
  cursor: pointer;
}
#student_math,
#student_physics,
#student_chemistry,
#employee_day,
#employee_salary,
#customer_company,
#customer_bill,
#customer_rate {
  display: none;
}
